.container{

    width:420px;

    margin:40px auto;

    padding:20px;

    border:1px solid #ccc;

    border-radius:8px;

    font-family:Arial;

}

input{

    width:100%;

    padding:8px;

    margin-top:5px;

}

button{

    padding:10px 20px;

    margin-top:15px;

    background:green;

    color:white;

    border:none;

    cursor:pointer;

}

.error{

    color:red;

    font-size:14px;

}