.container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 2px solid #444;
  border-radius: 10px;
  background: #f5f5f5;
}

h2 {
  color: darkblue;
}

h3 {
  color: green;
}